// all variables & configuration
$font-primary: 'Calibri', sans-serif;
$font-primary2: 'Georgia', serif;
$white: #ffffff;
$off-white: #f2f0ef;
$light-tan: rgb(224,204,177);
$lighter-tan: rgb(239, 228, 213);
$paper: rgb(246,238,227);
$light-green: rgb(193, 225, 195);
$darker-light-green:rgb(140, 161, 140) ;
$dusty-pink: rgb(253,206,206);
$dusty-rose: rgb(208, 150, 150);
$black: #000000;
$raisin-black: #262833;
$gray: #828282;
$mauve: #7f4bd3;
$night: #15161a;
$payne-gray:#585d6c;

$transition-default: all 300ms ease-in-out;
$shadow-default: rgba(0, 0, 0, 0.35) 0px 5px 15px;