.experience-sc{ // edit later
    .experience-content{
        &.dotted-border-left{
            &::after{
                top: 10px;
            }
        }
    }

    .experience-list{
        row-gap: 20px;
        column-gap: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 24px;
        padding: 16px 0;

        @media(max-width: 992px){
            grid-template-columns: 100%;
            column-gap: 20px;
        }
    }
    .experience-item{
        padding: 12px 0;
    }
    .exp-time{
        color: $dusty-rose;
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: $black;
        font-size: 16px;
        margin-bottom: 4px;
        column-gap: 4px;
    }
    .exp-position{
        margin-bottom: 10px;
        column-gap: 20px;
        font-size: 18px;

        .exp-position-text{
            font-weight: 700;
        }
    }
    .exp-company{
        gap: 10px;
        .company-name{
            font-weight: 600;
            text-decoration: underline;
        }
        
    }
    .exp-description{
        margin: 12px 0 4px 0;
        color: $black;
    }

}