@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');



*{
    font-family: 'Source Serif 4';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    
}

body{
    background-color: rgb(249,249,246);
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1.0em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}


.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#aboutme{
    margin-top:40px;
    /* margin-left:250px; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

#workhistory{
    margin-top:40px;
    margin-left:-60px;
}

.section--page--bio{
   margin-left:200px;
   gap:2em;
}

.section--page--projects{
    margin-left:-150px;
    margin-top:40px;
    gap:2em;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
    position: relative;
    padding-top: 30px;
}


#bio, a{
    font-weight: 300;
}

#user-name{
    font-size: 50px;
    line-height: 1em;
    margin-left:auto;
    margin-right: auto;
    text-align: center; 
   
}

#profile-pic{
    width: 310px;
    height: 310px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: -250px;
}

#profile-other-pic{
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 10%;
    position: absolute;
    top: 430px;
    left: -270px;
    
}
#profile-other2-pic{
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 10%;
    position: absolute;
    top: 2600px;
    right: 40px;
    
}
.banner{
    width:100%;
    display:block;
   
}
.banner-pic{
    width:100%;
    height: auto;
    display:block;
  
}

.underline {
    text-decoration: underline;
    text-underline-offset: 1px;
}

.underlinegreen {
    text-decoration-thickness: 4x;
    text-underline-offset: 2.25px;
    text-decoration: solid underline rgb(113, 189, 113) ;
}

#bio{
    margin-top: 50px;
}

#bio, 
#email, 
#csdepartment{
    margin-left: -50px;
    margin-top: 20px;
}
#email{
    color: var(--mainTextColor);
}

#csdepartment{
    color: var(--mainTextColor)
    
}
#socials--list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
    margin-top:30px;
}
#credit{
    font-size:0.7em;
    margin-top: 40px;
}
#bio a,
#email a,
#csdepartment a,
#socials--list a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 1em;
    transition: 0.3s;
    transition: color 0.3s, font-weight 0.3s;
}

#bio a:hover,
#email a:hover,
#csdepartment a:hover,
#socials--list a:hover{
    font-weight: 450;
    color: var(--mainLinkColor);
    font-size: 1em;
}


#qualifications--list{
    list-style: none;
    font-size: 1.2em;
    margin-top: 20px;  
    /* margin-left:80px; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    /* margin-left:100px; */
    font-size: 1.2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card--techstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
    font-size:1.0em;
    
}

.card--project a{
    color: var(--mainTextColor);

    transition: 0.3s;
}

.card--project a:hover{
    font-weight: 450;
    color: var(--mainLinkColor);
    font-size: 1em;

}

.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}


@media(max-width:600px){

/*EDIT*/
.section--page{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center;
}
.section--page--bio{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
 
 .section--page--projects{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
 
#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}

#profile-pic{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    position: static;

}

#profile-other-pic{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10%;
    position: static;
}

#profile-other2-pic{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10%;
    position: static;
    margin-top: 20px;   
}

#user-name{
    font-size: 30px;
    line-height: 1em;
    position:static;
    margin-top: auto;
    /* margin-left:auto;
    margin-right: auto;
    text-align: center;  */
}

.banner{
    width:100%;
    display:block;
   
}
.banner-pic{
    width:100%;
    height: auto;
    display:block;
  
}

#wrapper--hero{
    flex-direction: column;
}

.card--work-history{
    border-left: none;
    margin-left: -2em;
    margin-right: auto;
    text-align: center;
}

#container--main{
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
    
}
  
#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#bio, 
#email, 
#csdepartment{
   margin-left:auto;
   margin-right: auto;
   text-align: center;
}

#socials--list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
    font-size: 14px;
}

#aboutme{
    margin-top:20px;
}

#qualifications--list{
    list-style: none;
    margin-top: auto;
    margin-left: -40px;
    margin-right: auto;
    text-align: center;

}

#workhistory{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card--techstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em;
    align-items: center;
}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

#credit{
    font-size:0.6em;
    margin-top: 10px;
}

}