.project-sc{
    margin-bottom: 40px; // extra space for page bottom 
    .project-content{
        padding-bottom: 20px;
        position: relative;

        & > .dots-shape{
            position: absolute;
            left: -10px;
            bottom: 0;
        }
    }
    .project-list{
        // padding: 16px 0;
        // margin-left: 24px;
        // column-gap: 40px;

        row-gap: 20px;
        column-gap: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 24px;
        padding: 16px 0;
    }
    .project-item{
    //    column-gap: 10px;
        padding: 12px 0;
    }
    
    .project-title{
        margin-bottom: 10px;
        column-gap: 20px;
        font-size: 18px;

        .project-title-text{
            font-weight: 700;
        }
    }

    .project-text{
        margin-top: 6px;
    }

    .project-language{
        gap: 10px;
        .project-language-bold{
            font-weight: 600;
        }
    }
    
    .project-description{
        margin: 12px 0 4px 0;
        color: $black;
    }
    .project-link{
        font-weight: 450;
        cursor: pointer;
        &:hover{
            font-weight: bold;
            text-decoration: underline;
        }
        
    }
}